<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>table th, table td {padding: 5px;}</style>
</head>
<body>
<h1>Users</h1>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
    </tr>

    <tr th:each="user : ${users}">
        <td th:text="${user.id}">Id</td>
        <td>
            <a th:href="@{/{id}(id=${user.getId()})}" th:text="${user.getName}">Name</a>
        </td>
        <td th:text="${user.age}">Age</td>

    </tr>
</table>

<br/>
<a href="/new">Create new user</a>

</body>
</html>